<h1>Products</h1>
<%= link_to "Create New Product", "/products/new" %>
<%= link_to "Edit a Product", "products/edit" %>
<%= link_to "Find a Product", "product/show" %>

<%- @products.each do |product| %>
<p><%= product[:name] %>, <%= product[:description] %><%= product[:price_in_cents] %></p>
<% end %>
